<template>
  <div class="container-fluid text-center" id="footer">
    <div class="pt-4">
        <router-link to="/impressum">Impressum</router-link> <span style="color:white">| </span> 
        <router-link to="/datenschutz">Datenschutz</router-link>
    </div>    
  </div>
</template>

<script>
export default {

}
</script>

<style>
#footer{
    background-color: #1E1E1E;
    height: 5rem;
    font-size: 1.5rem;
    font-family: "acumin regular";
}
</style>