<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">            
            <a class="navbar-brand" href="/"><img src="../assets/logo.svg" alt="" width="80"></a>
            <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mt-1 mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/gallerie">Gallerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menüpunkt 2</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default{}
</script>
<style>
   
</style>