<template>
  <Nav />
  <router-view/>
  
</template>

<script>
import Nav from './components/Nav.vue'

export default {
components: {
  Nav,
}
}
</script>

<style>

@font-face {
  font-family: 'acumin bold';
  src: url('./assets/fonts/acumin/Acumin-BdPro.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'acumin regular';
  src: url('./assets/fonts/acumin/Acumin-RPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanist';
  src: url('./assets/fonts/Geomanist/Geomanist-Ultra-Webfont/geomanist-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geomanist ultra';
  src: url('./assets/fonts/Geomanist/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.woff') format('woff'),
       url('./assets/fonts/Geomanist/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.eot') format('eot'),
       url('./assets/fonts/Geomanist/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.woff2') format('woff2'),
       url('./assets/fonts/Geomanist/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#app{
  background-color: white;
}

.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: "acumin bold";
    font-size: 2vh;    
}
.navbar-brand{
    margin-left: 10vw;
}

.navbar-nav, .navbar-toggler{
    margin-right: 10vw;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: #D10019;
  text-decoration: none;
 }


a:hover {
  color: rgb(180, 180, 180);
  text-decoration: none;
}

a:active {
  color: rgb(233, 233, 233);
  text-decoration: none;
} 

</style>