<template>
  <div class="container-fluid" id="brands">
      <div class="text-center pt-4" id="brandHeadline">
        <h1>HEADLINE.<span style="color: #D10019">SUBLINE.</span></h1>
      </div>
      <div class="row pb-5">
          <div class="col">
            <img src="../assets/logos/amazon.png" alt="amazon" >
          </div>
          <div class="col">
            <img src="../assets/logos/nivea.png" alt="nivea" >
          </div>
          <div class="col">
            <img src="../assets/logos/audi.jpeg" alt="audi" >
          </div>
          <div class="col">
            <img src="../assets/logos/cocacola.png" alt="cocacola">
          </div>
      </div>
      <div class="row pb-5">
          <div class="col">
            <img src="../assets/logos/facebook.png" alt="facebook" >
          </div>
          <div class="col">
            <img src="../assets/logos/microsoft.png" alt="microsoft" >
          </div>
          <div class="col">
            <img src="../assets/logos/google.jpg" alt="google" >
          </div>
          <div class="col">
            <img src="../assets/logos/carrefour.png" alt="carrefour" >
          </div>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
#brands{
    background-color: white;
    width: 100%;
    margin-top: 7vw;
    padding-bottom: 7vw;
}
img{
    width: 100%;
    height: 100px;
    object-fit: contain;
    justify-content: center;
}
h1{
    font-family: "Geomanist Ultra";
    font-size: 3vmax;
    width: 100%;
}
#brandHeadline{
    padding-bottom: 7vw;
}
</style>