<template>
<div  class="container-fluid mt-0" id="contact">
    <div id="contactDiv">
        <div class="row ms-5 me-5">
            <div class="col-sm" id="contactSub">
                <h2 style="color: #fff">HIER STEHT</h2>
                <h2 style="color: #D10019">EINE SUBLINE</h2>
            </div>
            <div class="col" id="contactText">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p id="contactBold">Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                <!--SubmitForm-->
                <form class="" id="submitForm">
                    <div class="row mb-3 border-bottom border-white">
                        <label class="col-sm-2 col-form-label align-center">Vorname</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Max">
                        </div>
                    </div>
                    <div class="row mb-3 border-bottom border-white">
                        <label  class="col-sm-2 col-form-label">Nachname</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Mustermann">
                        </div>
                    </div>
                    <div class="row mb-3 border-bottom border-white">
                        <label class="col-sm-2 col-form-label">E-Mail</label>
                        <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="max.mustermann@mail.at">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">CTA</button>
                </form>
                <p id="disclaimer">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem</p>

            </div>
        </div>
    </div>
    
</div>
  
</template>

<script>

export default {
  components: {  },

}
</script>

<style scoped>
#contact{
    width: 100%;
    height: 100vh;
    background-color: #1E1E1E;
    overflow-y: hidden;
    background-image: url("../assets/fotos/girlPc.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-y: 22vh;
}
#contactDiv{
    margin-top:11vw;
}
#contactSub{
    font-size: 40px;
    text-align: end;  
}
#contactText{ 
    color: white;
    width: 100%;
    font-size: 30px;
    padding-right: 6vw;    
}

h2{
    font-size: 3vmax;
    width: 100%;
    display:block;
    line-height: 100%;
}

p{
    font-family: "acumin regular";
}
#disclaimer{
    padding-top:35px;
    font-family: "acumin regular";
    font-size: 1vmax;
}
#contactBold{
    font-family: "acumin bold";
}
#submitForm{
    width: 100%;
}
label{
    font-size: 20px;
    font-family: "acumin bold";
}
input{
    background: transparent;
    border: none;
}
button{
    border-color: white;
    background: #D10019;
    color:white;
    width: 100%;
    height:50px;
}


@media all and (max-width: 1080px) {
    #contact {
        background-image: none;
        background-size: 100%;
    }
    #contactSub{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #contactText{ 
    font-size: 15px;
    text-align: justify;
    
    }
    #contactDiv{
        margin-top:13vw;
        margin-bottom: 5vw;
    }
}




</style>