<template>
<div>
  <div class="container pb-5" id="gallerie">
    <h2>HIER STEHT<br ><span style="color: #D10019">EINE SUBLINE</span></h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <br>commodo ligula eget dolor. Aenean massa.</p>
    
    <div class="row pb-5">
        <div class="col-sm-9">
            <img :src="fotos[0].foto" alt="foto" id="f1">
        </div>
        <div class="col-sm-3"  id="t1">
            <h3>{{fotos[0].headline}}</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer
            <br>adipiscing elit. Aenean commodo ligula eget
            <br>dolor. Aenean massa.</p>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm-9">
            <img :src="fotos[1].foto" alt="foto" id="f1">
        </div>
        <div class="col-sm-3"  id="t2" >
            <h3>{{fotos[0].headline}}</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer
            <br>adipiscing elit. Aenean commodo ligula eget
            <br>dolor. Aenean massa.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <img :src="fotos[2].foto" alt="foto" id="f1">
        </div>
        <div class="col-sm-3"  id="t3">
            <h3>{{fotos[0].headline}}</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer
            <br>adipiscing elit. Aenean commodo ligula eget
            <br>dolor. Aenean massa.</p>
        </div>
    </div>
  </div>
  <Footer/>
</div>
</template>

<script>
import Footer from '../components/Footer.vue'
export default {
  components: { Footer },
    data(){
        return{
            fotos: [
                {foto: require("../assets/fotos/girlStrawberries.jpg") , headline: 'Hier steht eine Headline'},
                {foto: require('../assets/fotos/sea.jpg')},
                {foto: require('../assets/fotos/yacht.png')},
            ]
        }
    }
}
</script>

<style scope>

#gallerie{
    margin-top: 3vw;
}
h2{
    font-family: "Geomanist Ultra";
    font-size: 6vh;
}
p{
  font-family: "Acumin Regular";
  font-size: 2vh;
}
h3{
  font-family: "Acumin Bold";
  font-size: 1.9vh;
}
#f1{
    width:100%;
}
#t1, #t2, #t3{
    margin-top: 5vw;
}



</style>