<template>
<div>
  <div class="runner">
      <div class="runnerText g-0">
        <h1>HIER STEHT EINE <br ><span style="color: #D10019">HEADLINE</span></h1>
        <a class="moveDown" href="#contact">
            <i class="fa fa-chevron-circle-down "></i>
        </a>
      </div>
  </div>
  <Contact/>
  <Brands/>
  <Footer/>
 </div>
</template>

<script>
import Footer from '../components/Footer.vue'
import Brands from './Brands.vue'
import Contact from './Contact.vue'

export default {
  components: { Contact, Footer, Brands },

}
</script>

<style>
.runner{
    background-image: url("../assets/fotos/headerfoto.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    
    height: 100vh;
    overflow-y: hidden;
    position: relative;   
}

.runnerText {
  text-align: center;
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Geomanist Ultra";
  width: 100%;
}

h1{

  font-size: 7vmax;
  width: 100%;
  display:block;
  line-height: 100%;  
}

span{top: 10px;}

.moveDown{
    font-size: 6vh;
    color: #fff;
  }



</style>